<%inherit file="base.html"/>
  <%def name="title()">
        <%include file="widget_question_title.html" args="question=question"/>
  </%def>

  <%def name="content()">
        <form method="POST">
                <div class="form-group">
                <label>你推荐的产品名字</label>
                <input name="title" class="form-control"></input>
                </div>

                <!--div class="form-group">
                <label>链接<small>（选填）</small></label>
                <input name="link" class="form-control"></input>
                </div-->

                <div class="form-group">
                <label>你的使用体验<small>（选填）</small></label>
                <textarea name="review" class="form-control"></textarea>
                </div>

                <input type="submit" class="btn btn-success " value=" 推荐"></input>
        </div>
  </%def>
