<%inherit file="base.html"/>

<%def name="content()">

<div class="alert alert-warning row" role="alert">
<small>
<p>什么是一条好的 『求推荐』？</p>
<p>1. 能准确描述需求。 </p>
<p> "求推荐根据真实事件改编的好电影" <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  "求推荐好耳机" <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </p>
<p>2. 属于有确定名字的标准产品。</p>
<p> 移动应用，数码产品 <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  服饰、家居用品 <span class="glyphicon glyphicon-remove" aria-hidden="true"></p>
</small>
</div>

<form method="POST">
    <div class="form-group">
        <textarea name="title" class="form-control">求推荐</textarea>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-success" value="提交"></input>
    </div>
</form>
</%def>

